

.hoverimg {
  display: none;
}

.hoverimg.show {
  display: block;
}

.hoverimg#merchflipbook.show {
  position: fixed;
  top: 3%;
  right: 37%;
  width: 50vh;
  height: 50vh;
  z-index: 1;
}

.cdvidContainer {
  position: fixed;
  /* bottom: 5%;
  right: 7%; */
  top: 5%;
  right: 39%;
  max-height: 45vh;
  max-width: 45vh;
  overflow: hidden;
  z-index: 1;
}

.hoverimg#cdvid.show {
  width: 100%;
  height: 100%;
}

.hoverimg#msvid.show {
  position: fixed;
  /* bottom: 20%;
  right: 40%; */
  top: 5%;
  right: 39%;
  width: 45vh;
  height: 45vh;
  z-index: 1;
}

.hoverimg#morevid.show {
  position: fixed;
  top: 5%;
  right: 39%;
  width: 45vh;
  height: 45vh;
}

@media screen and (max-width: 1400px) and (orientation: portrait) {
  .servicesContainer {
    max-width: 75vw;
  }
  .servicesContainer p {
    font-size: 2vh;
  }
  .hoverimg#merchflipbook.show, .cdvidContainer, .hoverimg#msvid.show, .hoverimg#morevid.show {
    max-width: 80vw;
    max-height: 80vw;
    width: auto;
    height: auto;
    top: 8%;
    right: 10%;
  }
}

@media screen and (max-width: 1400px) and (orientation: landscape) {
  .servicesContainer p {
    font-size: 3.5vh;
  }
  .servicesContainer {
    max-width: 50vw;
  }
  .hoverimg#merchflipbook.show, .cdvidContainer, .hoverimg#msvid.show, .hoverimg#morevid.show {
    top: 7%;
    right: 39.5%;
    max-width: 45vh;
    max-height: 45vh;
    width: auto;
    height: auto;
  }
}